<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Eltrans</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">Eltrans</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
																<li><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB%0D%0AZG9iZSBJbGx1c3RyYXRvciAyMy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u%0D%0AOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iV2Fyc3R3YV8xIiB4%0D%0AbWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3%0D%0ALnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDY3Ni45%0D%0AMiAyMzguNDYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDY3Ni45MiAyMzguNDY7%0D%0AIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtm%0D%0AaWxsOiM4MDgyODU7fQ0KCS5zdDF7ZmlsbDojQzZEQzcyO30NCgkuc3Qye2ZpbGw6IzFDMzQ0Qzt9%0D%0ADQoJLnN0M3tmaWxsOiM3N0FFNDM7fQ0KCS5zdDR7ZmlsbDojMkE3RDdEO30NCjwvc3R5bGU+DQo8%0D%0AZz4NCgk8Zz4NCgkJPGc+DQoJCQk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTE0LjEyLDEyMS41NXYt%0D%0AMTkuMTdjMC02Ljk2LDUuNjgtMTIuNjQsMTIuNjQtMTIuNjRoNDQuNDZjNi45NiwwLDEyLjY0LDUu%0D%0ANjgsMTIuNjQsMTIuNjR2MTQuMTdoLTU2LjU5DQoJCQkJdi05LjE2aDQ3LjQzdi01LjAxYzAtMS45%0D%0ANS0xLjUzLTMuNDgtMy40OC0zLjQ4aC00NC40NmMtMS45NSwwLTMuNDgsMS41My0zLjQ4LDMuNDh2%0D%0AMTkuMTdjMCwxLjk1LDEuNTMsMy40OCwzLjQ4LDMuNDhoNTcuMXY5LjE2DQoJCQkJaC01Ny4xQzEx%0D%0AOS44LDEzNC4xOSwxMTQuMTIsMTI4LjUxLDExNC4xMiwxMjEuNTV6Ii8+DQoJCQk8cGF0aCBjbGFz%0D%0Acz0ic3QwIiBkPSJNMTk0LjAzLDEzNC4xOVY2OS41NGg5LjE2djY0LjY1SDE5NC4wM3oiLz4NCgkJ%0D%0ACTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yMTMuMzcsMTIxLjU1Vjc5LjY0aDkuMTZ2MTAuMWgyMi4x%0D%0ANHY5LjE2aC0yMi4xNHYyMi42NWMwLDEuOTUsMS41MywzLjQ4LDMuNDgsMy40OGgyMi43NHY5LjE2%0D%0AaC0yMi43NA0KCQkJCUMyMTkuMDYsMTM0LjE5LDIxMy4zNywxMjguNTEsMjEzLjM3LDEyMS41NXoi%0D%0ALz4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yNTcuNjYsMTAyLjM4YzAtNi45Niw1LjY4LTEy%0D%0ALjY0LDEyLjY0LTEyLjY0aDMyLjgzdjkuMTZIMjcwLjNjLTEuOTUsMC0zLjQ4LDEuNTMtMy40OCwz%0D%0ALjQ4djMxLjgyaC05LjE2DQoJCQkJVjEwMi4zOHoiLz4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9%0D%0AIk0zMTIuNDYsMTIxLjU1di00LjI0YzAtNi45Niw1LjY4LTEyLjY0LDEyLjY0LTEyLjY0aDQzLjk1%0D%0AdjkuMDhIMzI1LjFjLTEuOTUsMC0zLjQ4LDEuNjEtMy40OCwzLjU2djQuMjQNCgkJCQljMCwxLjk1%0D%0ALDEuNTMsMy40OCwzLjQ4LDMuNDhoNDcuOTR2LTIyLjY1YzAtMS45NS0xLjUzLTMuNDgtMy40OC0z%0D%0ALjQ4aC01NS4wNnYtOS4xNmg1NS4wNmM2Ljk2LDAsMTIuNjQsNS42OCwxMi42NCwxMi42NHYzMS44%0D%0AMg0KCQkJCWgtNTcuMUMzMTguMTQsMTM0LjE5LDMxMi40NiwxMjguNTEsMzEyLjQ2LDEyMS41NXoi%0D%0ALz4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00NTIuOTUsMTAyLjM4YzAtMS45NS0xLjUzLTMu%0D%0ANDgtMy40OC0zLjQ4aC00Ny45M3YzNS4yOWgtOS4xNlY4OS43NGg1Ny4xYzYuOTYsMCwxMi42NCw1%0D%0ALjY4LDEyLjY0LDEyLjY0DQoJCQkJdjMxLjgyaC05LjE2VjEwMi4zOHoiLz4NCgkJCTxwYXRoIGNs%0D%0AYXNzPSJzdDAiIGQ9Ik00NzQuMzIsMTI1LjAzaDU1LjA2YzEuOTUsMCwzLjQ4LTEuNTMsMy40OC0z%0D%0ALjQ4di0xLjUzYzAtMS44Ny0xLjUzLTMuNDgtMy40OC0zLjQ4aC00NC40Ng0KCQkJCWMtNi45Niww%0D%0ALTEyLjY0LTUuNjgtMTIuNjQtMTIuNjR2LTEuNTNjMC02Ljk2LDUuNjgtMTIuNjQsMTIuNjQtMTIu%0D%0ANjRoNTUuMDZ2OS4xNmgtNTUuMDZjLTEuOTUsMC0zLjQ4LDEuNTMtMy40OCwzLjQ4djEuNTMNCgkJ%0D%0ACQljMCwxLjk1LDEuNTMsMy40OCwzLjQ4LDMuNDhoNDQuNDZjNi45NiwwLDEyLjY0LDUuNjgsMTIu%0D%0ANjQsMTIuNjR2MS41M2MwLDYuOTYtNS42OSwxMi42NC0xMi42NCwxMi42NGgtNTUuMDZWMTI1LjAz%0D%0AeiIvPg0KCQk8L2c+DQoJCTxyZWN0IHg9IjExNC4xMiIgeT0iMTQ2LjEzIiBjbGFzcz0ic3QxIiB3%0D%0AaWR0aD0iMTAyLjkyIiBoZWlnaHQ9IjYuNjEiLz4NCgkJPHJlY3QgeD0iNDM3LjkxIiB5PSIxNDYu%0D%0AMTMiIGNsYXNzPSJzdDIiIHdpZHRoPSIxMDIuOTIiIGhlaWdodD0iNi42MSIvPg0KCQk8cmVjdCB4%0D%0APSIyMjIuMDUiIHk9IjE0Ni4xMyIgY2xhc3M9InN0MyIgd2lkdGg9IjEwMi45MiIgaGVpZ2h0PSI2%0D%0ALjYxIi8+DQoJCTxyZWN0IHg9IjMyOS45OCIgeT0iMTQ2LjEzIiBjbGFzcz0ic3Q0IiB3aWR0aD0i%0D%0AMTAyLjkyIiBoZWlnaHQ9IjYuNjEiLz4NCgk8L2c+DQoJPGc+DQoJCTxnPg0KCQkJPHBhdGggY2xh%0D%0Ac3M9InN0MCIgZD0iTTU1OC4zNCw4MS4yM3Y1LjIyaC0xLjY5VjczLjk0aDMuNTRjMC43OSwwLDEu%0D%0ANDgsMC4wOCwyLjA1LDAuMjRjMC41OCwwLjE2LDEuMDUsMC4zOSwxLjQzLDAuNjkNCgkJCQljMC4z%0D%0AOCwwLjMsMC42NSwwLjY3LDAuODMsMS4xYzAuMTgsMC40MywwLjI3LDAuOTEsMC4yNywxLjQ0YzAs%0D%0AMC40NC0wLjA3LDAuODYtMC4yMSwxLjI0Yy0wLjE0LDAuMzgtMC4zNCwwLjczLTAuNjEsMS4wMw0K%0D%0ACQkJCWMtMC4yNywwLjMxLTAuNTksMC41Ny0wLjk3LDAuNzhjLTAuMzgsMC4yMi0wLjgxLDAuMzgt%0D%0AMS4zLDAuNDljMC4yMSwwLjEyLDAuNCwwLjMsMC41NiwwLjUzbDMuNjUsNC45N2gtMS41DQoJCQkJ%0D%0AYy0wLjMxLDAtMC41NC0wLjEyLTAuNjgtMC4zNmwtMy4yNS00LjQ3Yy0wLjEtMC4xNC0wLjIxLTAu%0D%0AMjQtMC4zMi0wLjNjLTAuMTItMC4wNi0wLjI5LTAuMDktMC41Mi0wLjA5SDU1OC4zNHogTTU1OC4z%0D%0ANCw4MGgxLjc3DQoJCQkJYzAuNDksMCwwLjkzLTAuMDYsMS4zMS0wLjE4YzAuMzgtMC4xMiwwLjY5%0D%0ALTAuMjksMC45NC0wLjUxYzAuMjUtMC4yMiwwLjQ0LTAuNDgsMC41Ny0wLjc4YzAuMTMtMC4zLDAu%0D%0AMTktMC42NCwwLjE5LTENCgkJCQljMC0wLjc1LTAuMjUtMS4zMS0wLjc0LTEuNjlzLTEuMjItMC41%0D%0ANy0yLjItMC41N2gtMS44NVY4MHoiLz4NCgkJPC9nPg0KCQk8cGF0aCBjbGFzcz0ic3QwIiBkPSJN%0D%0ANTYwLjcxLDkwLjI0Yy01LjU2LDAtMTAuMDgtNC41Mi0xMC4wOC0xMC4wOXM0LjUyLTEwLjA4LDEw%0D%0ALjA4LTEwLjA4YzUuNTYsMCwxMC4wOSw0LjUyLDEwLjA5LDEwLjA4DQoJCQlTNTY2LjI3LDkwLjI0%0D%0ALDU2MC43MSw5MC4yNHogTTU2MC43MSw3MS4wN2MtNS4wMSwwLTkuMDgsNC4wOC05LjA4LDkuMDhj%0D%0AMCw1LjAxLDQuMDgsOS4wOSw5LjA4LDkuMDlzOS4wOS00LjA4LDkuMDktOS4wOQ0KCQkJQzU2OS43%0D%0AOSw3NS4xNCw1NjUuNzIsNzEuMDcsNTYwLjcxLDcxLjA3eiIvPg0KCTwvZz4NCjwvZz4NCjwvc3Zn%0D%0APg0K"
																		alt=""></li>
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
